*~
*.tmp
*.p
*.pyc
pickle 
/Week5/Data/GIS_Practical_1_files
/Week3/Data/EcolArchives-E089-51-D1.csv
/Miniproject/Data/BioTraits.csv
/Week4/Data/HandOutsandData'18
/Week4/Data/Lectures'18
/Week5/Data/GIS_2016
/Week5/Data/GIS_Practical_1_files
/Week10/Data/BiolStructs_C
/CMEE_Exams
