*~
*.tmp
*.p
*.pyc
pickle 
/Week3/Data
/Miniproject/Data
/Week4/Data
/Week5/Data
/Week10/Data
/CMEE_Exams
/Week11/Data
/Week11/Results
/Week9/Data
/Week9/Results
/Week12/Data
/Week12/Results
/Week14/Data
/Week15/statistical_inference
/Week15/Data
